.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  width: 128px;
  height: 128px;
  border: var(--size-md) solid;
  border-color: var(--opacity-light-main) transparent var(--opacity-light-main) transparent;
  border-radius: 50%;
  animation: spin 850ms linear infinite;
}

.spinner::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--opacity-light-main);
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

@keyframes spin {
  0%    {transform: rotate(0deg)}
  100%  {transform: rotate(360deg)}
}

@media screen and (max-width: 600px) {
  .spinner-container {
    align-items: flex-start;
  }

  .spinner {
    width: 64px;
    height: 64px;
    border-width: var(--size-sm);
    margin-top: 50px;
  }
}