footer {
  display: flex;
  flex-direction: column;
  color: var(--alt-color);
  font-size: var(--size-lg);
  background-color: var(--main-color);
  box-shadow: 0 calc(var(--size-xsm) * -1) var(--size-xxl) 0 var(--opacity-dark-main);
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} 

footer,
footer .container {
  flex: 1;
}

.footer-left img {
  max-height: 30px;
  filter: var(--logo-filter)
}

.footer-right {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-sm);
}

.pokeapi {
  text-align: right;
}

.pokeapi a {
  margin-left: var(--size-xsm);
  color: aliceblue;
  text-decoration: none;
  color: var(--accent-color);
}

.pokeapi a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  footer .container {
    justify-content: center;
    flex-direction: column;
    row-gap: var(--size-lg);
    
  }

  footer .footer-right .rights,
  footer .footer-right .pokeapi {
    text-align: center;
  }
}